<div class="footer jumbotron jumbotron-fluid mb-0" >
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<span><i class="fa fa-envelope envelope" ></i></span> <input type="text" name="text">
			</div>
			<div class="col-md-6 col-sm-12">
				
			</div>
			<div class="col-md-6 col-sm-12 mt-3">
				<p>Copyright @ 2014 Two Bytes Consulting <strong>Terms & Policies.</strong></p>
			</div>
			<div class="col-md-6 col-sm-12 mt-3 ">
				<span><i class="fa fa-twitter-square pl-2 pr-2"></i></span>
				<span><i class="fa fa-facebook-square pl-2 pr-2"></i></span>
				<span><i class="fa fa-instagram pl-2 pr-2"></i></span>
			</div>
		</div>
	</div>
</div>